// Для импорта в файл подключения: @import './app/blocks/clearfix/clearfix.scss';

@import '../../scss/vars.scss';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами
@import 'bourbon';


.clearfix {
	&:before, &:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}