include ../blocks.project/includes
include templates/page/page
include templates/scripts/scripts

doctype html
html(lang='ru')
	include templates/head/head
		block head
			- var pageTitle = 'There is title';

	+page
		//Тут пишем контент