// Для импорта в файл подключения: @import './app/blocks/iconsvg/iconsvg.scss';

@import '../../scss/vars.scss';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами
@import 'bourbon';

.iconsvg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}