// Для импорта в файл подключения: @import './app/blocks/grid/grid.scss';

@import '../../scss/vars.scss';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами
@import 'bourbon';


.grid {
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.grid:before,
.grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}
